
<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/communes" class="nav-link px-2 link-secondary pointer">Communes</a></li>
          <li><a (click)="Forum()" class="nav-link px-2 link-dark pointer">Forum</a></li>
          <!-- <li><a href="#" class="nav-link px-2 link-dark">Indicateur</a></li> -->
        </ul>



        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Utilisateur
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Profil</a></li>
              <li><a class="dropdown-item" href="#">Déconnexion</a></li>
            </ul>
          </div>
      </div>
    </div>
  </header>