<h1 class="d-flex justify-content-center">{{ rubrique.libelle }}</h1>
<div class="d-flex flex-column bd-highlight mb-3 divcontenu">
  <h4>
    {{ rubrique.description }}
  </h4>
</div>
<form #form="ngForm" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 formrecherche">
  <div class="d-flex flex-row bd-highlight mb-3">
    <textarea [(ngModel)]="discussion.message" type="search" class="form-control" placeholder="Ajouter un message" name="message" aria-label="Search"></textarea>
    <button (click)="onSubmit(form)" type="submit" class="btn btn-success">Envoyer</button>
  </div>
</form>

<app-liste-discussion [parent_id]="0" [rubrique_id]="idRubrique"></app-liste-discussion>

<router-outlet></router-outlet>
