<h1 class="d-flex justify-content-center">Rubrique 1</h1>
<div class="d-flex flex-column bd-highlight mb-3 divmessage">
    <div>
        <h5>Auteur du message</h5>
    </div>
    <div>
        Posté le date à heure
    </div>
    <div>
        <p>texte du message</p>
    </div>
    <div class="d-flex justify-content-between divbtn">
        <div>
            <button class="btn btn-outline-success btnspace">Répondre</button>
            <button class="btn btn-outline-success">Voir les réponses</button>
        </div>
        <div>
            <button class="btn btn-outline-primary btnspace">J'aime</button>
            <button class="btn btn-outline-primary btnspace">Je n'aime pas</button>
            <button class="btn btn-outline-danger">Signaler</button>
        </div>
    </div>

</div>
<router-outlet></router-outlet>